<div class="product__item">
  <img src="{{product.image}}" alt="">
  <a routerLink="/products/{{product.id}}"><p>{{product.title}}</p></a>
<!--  <p>{{product.price}}</p>-->
<!--  <p>{{product.rating.rate}}</p>-->
<!--  <p>{{product.id}}</p>-->
  <app-cart-counter [count]="count"
                    [stock]="product.stock"
                    (clicked)="addToCartAndSetCartProductCount()"
                    (changedCount)="updateProductQuantity($event)">
  </app-cart-counter>
  <button (click)="delete()">Delete</button>
  <button routerLink="../product/edit/{{product.id}}">Edit</button>
</div>
