.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    color: #142d4c;
  }

  input[type="number"] {
    width: 150px;
    padding: 0.3rem 0.7rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #495057;
    background-color: #fff;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.checkbox-filter {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.checkbox-filter label {
  color: #142d4c;
  margin-right: 0.5rem;
}

.checkbox-filter input[type="checkbox"] {
  content: "\2713";

  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #fff;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.checkbox-filter input[type="checkbox"]:checked {
  background-color: #007bff;
  border-color: #445e7e;
}

.reset-button {
  width: 100%;
  margin: auto;
  border: none;
  cursor: pointer;
  background: #24527a;
  height: 50px;
  color: white;
}

.reset-button:hover {
  background: #1d4162;
}
