<div class="form2">
  <form [formGroup]="filtersForm" novalidate>
    <div>
      <label>Min Price</label>
      <div *ngIf="minPrice?.hasError('min')" style="color: red; font-size: 15px;">Price should be >= 0</div>
      <input type="number" name="minPrice" formControlName="minPrice">
    </div>
    <div>
      <label>Max Price</label>
      <div *ngIf="maxPrice?.hasError('min')" style="color: red; font-size: 15px;">Price should be >= 0</div>
      <input type="number" name="maxPrice" formControlName="maxPrice"/>
    </div>
    <div>
      <label>Min Rating</label>
      <div *ngIf="minRating?.hasError('min')" style="color: red; font-size: 15px;">Price should be >= 0</div>
      <input type="number" name="minRating" formControlName="minRating"/>
    </div>
    <div>
      <label>Max Rating</label>
      <div *ngIf="maxRating?.hasError('min')" style="color: red; font-size: 15px;">Price should be >= 0</div>
      <input type="number" name="maxRating" formControlName="maxRating"/>
    </div>
    <div>
      <label>In stock</label>
      <input type="checkbox" name="inStock" formControlName="inStock"/>
    </div>
    <div>
      <label>Has reviews</label>
      <input type="checkbox" name="hasReviews" formControlName="hasReviews"/>
    </div>
  </form>
  <button (click)="resetForm()" [hidden]="isFormEmpty()">Delete filters</button>
</div>
