<div class="form">
  <form [formGroup]="filtersForm" novalidate>
    <div>
      <label>Min Price</label><br>
      <input type="number" name="minPrice" formControlName="minPrice" [min]="0" oninput="validity.valid||(value='');"/>
    </div>
    <div>
      <label>Max Price</label><br>
      <input type="number" name="maxPrice" formControlName="maxPrice" oninput="validity.valid||(value='');"/>
    </div>
    <div>
      <label>Min Rating</label><br>
      <input type="number" name="minRating" formControlName="minRating" oninput="validity.valid||(value='');"/>
    </div>
    <div>
      <label>Max Rating</label><br>
      <input type="number" name="maxRating" formControlName="maxRating" oninput="validity.valid||(value='');"/>
    </div>
    <div>
      <label>In stock</label><br>
      <input type="checkbox" name="inStock" formControlName="inStock"/>
    </div>
    <div>
      <label>Has reviews</label><br>
      <input type="checkbox" name="hasReviews" formControlName="hasReviews"/>
    </div>
  </form>
  <button (click)="resetForm()">Delete filters</button>
</div>
