<div class="header">
  <div class="links">
    <a routerLink="products">Shop</a>
    <a *ngIf="!user" routerLink="auth" class="link">Authentication</a>
    <a routerLink="cart">
      <fa-icon [icon]="faCartShopping"></fa-icon>
    </a>
  </div>

  <div class="tool-bar">
    <app-search-input/>

    <div *ngIf="user">
      <p style="display: inline">{{user}}</p>
      <button *ngIf="!!user" (click)="logOut()">
        <fa-icon [icon]="faLogout"></fa-icon>
      </button>
    </div>

  </div>
</div>
