<div class="edit-form">
  <div *ngIf="isLoading">Loading...</div>
  <div *ngIf="!isFound && !isLoading">Product Not Found</div>
  <div *ngIf="!isLoading && isFound">
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
      <h2 *ngIf="isSubmitted" style="color: green">Successfully changed!</h2>
      <label for="image">Image:</label>
      <div *ngIf="image.invalid" class="alert">
        Image is required
      </div>
      <input type="text" id="image" name="image" [(ngModel)]="product.image" #image="ngModel" required
             [class.error]="(image.touched || image.dirty) && image.invalid">

      <label for="title">Title:</label>
      <div *ngIf="title.invalid" class="alert">
        <div style="color: red; font-size: 15px;" *ngIf="title.errors?.['required']">Title is required</div>
      </div>
      <input  type="text" id="title" name="title" [(ngModel)]="product.title" #title="ngModel" required
              [class.error]="(title.touched || title.dirty) && title.invalid">

      <label for="price">Price:</label>
      <div *ngIf="price.invalid" class="alert">
        <div style="color: red; font-size: 15px;" *ngIf="price.errors?.['required']">Price is required.</div>
        <div style="color: red; font-size: 15px;" *ngIf="price.errors?.['min']">Price should be >= 0.</div>
      </div>
      <input [min]="0" type="number" id="price" name="price" [(ngModel)]="product.price" #price="ngModel" required
             [class.error]="(price.touched || price.dirty) && price.invalid">

      <label for="stock">Number in stock:</label>
      <div *ngIf="stock.invalid" class="alert">
        <div style="color: red; font-size: 15px;" *ngIf="stock.errors?.['required']">Stock is required.</div>
        <div style="color: red; font-size: 15px;" *ngIf="stock.errors?.['isNotInteger']">Stock should be an integer.</div>
        <div style="color: red; font-size: 15px;" *ngIf="stock.errors?.['min']">Stock should be >= 0.</div>
      </div>
      <input appStockValidator [min]="0" type="number" id="stock" name="stock" [(ngModel)]="product.stock"
             #stock="ngModel" required [class.error]="(stock.touched || stock.dirty) && stock.invalid">
      <label for="description">Description:</label>
      <div *ngIf="description.invalid" class="alert">
        <div style="color: red; font-size: 15px;" *ngIf="description.errors?.['required']">Description is required.</div>
      </div>
      <textarea id="description" name="description" [(ngModel)]="product.description" #description="ngModel" required
                [class.error]="(description.touched || description.dirty) && description.invalid"></textarea>

    <button [disabled]="!myForm.form.valid" type="submit">Submit</button>
  </form>
  <div>
    <img [src]="product.image" height="400px" [alt]="product.title">
  </div>
</div>
