input {
  display: block;
  width: 400px;
}

textarea {
  display: block;
  width: 400px;
  resize: vertical; max-height: 300px; min-height: 100px;
}

.form {
  display: flex;
  flex-direction: row;
}

* {
  margin: 5px;
}

.edit-form {
  display: flex;
  flex-direction: row;
}
