.button {
  width: 100px;
  height: 50px;
  background: #cceae2;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: #80e8cb;
}

.button:disabled:hover {
  cursor: auto;
  background: #cceae2;
}

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin:0;
  padding:0;
  min-height: 100vh;
  background: #ececec;
  display: flex;
  flex-direction: column;
}

.rating_star {
  color: gold;
}

.error {
  border: 2px solid red;
}

.error:focus {
  outline: 1px solid red;
}

.error-message {
  color: red;
  font-weight: bold;
  font-size: 16px;
}
