.product__details {
  padding: 50px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.wrapper1 {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

hr {
  width:100%;
  text-align:center;
}
