.product__item {
  background: white;
  width: 390px;
  height: 390px;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.product__item:hover {
  transform: scale(1.03);
  z-index: 1;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product__item:not(:hover) {
  transform: scale(1);
}

.image {
  display: block;
  height: 240px;
  margin: auto;
}

.buttons_container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
}

.product-info {
  margin: 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-title {
  text-align: center;
}

